.gradle/
.idea/
.log/
log/
build/
target/
*.iml
classes/*
*.ipr
*.iws
.classpath
.project
.settings
application.pid
bin/
out
pom.xml

keytmp/
src/main/resources/application-local.properties
run/
.apt_generated/
~$*

.tags
.DS_Store

/application.pid

logs/
*.log

.settings
*.iml
run/
.factorypath
~$*
*.ipr
*.iws
out/
.class