<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback.xsd">

	<!-- refer to default setting -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<property name="PERSIST_FILE" value="log/persist.log" />
	<property name="ERROR_FILE" value="log/error.log" />
	<property name="APP_FILE" value="log/app.log" />

	<appender name="PERSIST_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${PERSIST_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${PERSIST_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="ERROR_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${ERROR_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${ERROR_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="APP_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${APP_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${APP_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="PERSIST_APPENDER" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"
		level="TRACE" additivity="false">
		<appender-ref ref="PERSIST_APPENDER" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.orm.jpa" level="DEBUG"
		additivity="false">
		<appender-ref ref="PERSIST_APPENDER" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework.transaction" level="DEBUG"
		additivity="false">
		<appender-ref ref="PERSIST_APPENDER" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.hibernate" level="INFO" additivity="false">
		<appender-ref ref="PERSIST_APPENDER" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.seasun" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APP_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ERROR_APPENDER" />
	</root>

</configuration>